#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }

body {
    background: url("/img/patron4.jpg");
    
    background-repeat:repeat;
    background-position:center center;
    background-attachment:scroll;
    /*background-size:30% 30%;*/
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
		
#container{
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5)
	-moz-border-radius: 10 px;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-border-radius: 10px;
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	font-family: 'Comfortaa',sans-serif;
	font-size: 18px;
	margin: 0 auto;
	padding: 30px;
	width: 350px;	
}
 
.campo{
	border: solid 4px #cece76;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 35px;
	width: 300;	
}

.boton{
	background: #849175;
	border: solid 0;
	color: #fff;
	padding: 10px;
}

.errores{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10ṕx rgba(0,0,0,0.3);
	background: red;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	color: #fff;
	display: none;
	font-size: 14px;
	margin-top: -80;
	margin-left: 340;
	padding: 10px;
	position: abosolute; 			
}