<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Administrador</title>
<!--	<link rel="stylesheet" href="static/css/bootstrap.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" href="static/js/bootstrap.js"></script>
-->	<link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet"  href="static/css/jquery.mobile-1.4.5.min.css" />
	

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" href="static/js/bootstrap/bootstrap.min.js"></script>
	
</head>
<body>


<section id="cotenido">
	<header>
	<center><h1>Pagina principal</h1></center>
	<div class="navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
			      <a class="navbar-brand" href="#">Cafeteria</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#" data-transition="none">Pedidos</a></li>
			      	<li><a href= "#" onclick="irAgregarProducto()" data-transition="none">Agregar producto</a> </li>
					<li><a href= "#" onclick="irAgregarCombo()" data-transition="none">Agregar combo</a> </li>
					<!--<li><a href= "/" data-transition="none">Acerca de</a> </li>-->
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="/out"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
			    </ul>
			 </div>
			</div>
	</header>
		
	<section id="center">
		<header>Pedidos recientes.</header>
		<ul data-role="listview" data-inset="true" id="miListaPostres">
		  {% for pedido in pedidos %}
		   <li><a href='#'><img src="{{pedido['productos'][0]['imagen_url']}}"></img><h3>Pedido para: <p>{{ pedido['idUsuario']}}</p> Ubicacion de entrega:<p>{{pedido['ubicacion']}}</p>
		   Pedido realizado a las: <p>{{pedido['hora']}}</p>
		   Total <p>{{pedido['total']}}</p></h3>
		   <h3>
		   	<h2>Productos del pedido:</h2>
		   		{% for producto in pedido['productos'] %}
		   			<p>{{producto['nombre']}}</p>
		   		{% endfor %}
		   </h3>
		   </a></li>
		   {% endfor %}
		 </ul>
	</section>
	<section id="footer">
		

	</section>
</section>
<script type="text/javascript">
		
		function irAgregarProducto(){
			location.assign("agregarProducto")
		}
		function irAgregarCombo(){
			location.assign("agregarCombo")
		}
		function irPedidos(){
			location.assign("obtenerPedidos")
		}
	setInterval(function (){
		$.ajax({
			url: 'hayPedidoReciente',
			type: 'POST',
			processData: false,
			success: function(mensaje){
				if(mensaje=="Si"){
				   notification = new Notification("Hay nuevos Pedidos");
					notification.onclick=function(){
						location.reload();
				  	}
			  	}
			},
			error: function(m){
				console.log("Ocurrio un error"+m);
				console.log(m)
			}
		});
	},10000);
	</script>
</body>
</html>