<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=divice-width,minimum-scale=1,maximum-scale=1"/>
	<link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css"></link>
		<link rel="stylesheet"  href="static/css/jquery.mobile-1.4.5.min.css" />
		<link rel="stylesheet" href="static/css/estilos.css"/>
		
		<script type="text/javascript" href="static/js/notificacion.js"></script>
		<script type="text/javascript" href="static/js/bootstrap/bootstrap.min.js"></script>
		<script src="static/js/jquery-1.11.1.min.js"></script>
		<script src="static/js/jquery.mobile-1.4.5.min.js"></script>
		<script src="static/js/miAlert.js"></script>
		<script src="static/js/validarFormulario.js"></script>
		<script src="static/js/agregarCombo.js"></script>
	
	
</head>
<body>
	<section id="paginaAgregarCombo" data-role="page">
		<header data-role="header" class="ui-grid-c">
				<center><h1>Agregar Combo</h1></center>
				<div class="navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
				      <a class="navbar-brand" href="#">Cafeteria</a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li ><a href="/" data-transition="none">Home</a></li>
				      	<li><a href= "#" onclick="irAgregarProducto();" data-transition="none">Agregar producto</a> </li>
						<li class="active"><a href= "#" data-transition="none">Agregar Combo</a> </li>
						<li><a href= "/" data-transition="none">Acerca de</a> </li>
				    </ul>
				    <ul class="nav navbar-nav navbar-right">
				      <li><a href="/out"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
				    </ul>
				   </div>
				   </div>
		</header>
		
		<article data-role="content">
		<div id="container">
			<form name="nuevoCombo" id="nuevoCombo" action="/agregarCombo" method="POST">
					<input type="text" name="nombre" id="nombre" placeholder="Nombre del combo"/> 
					<div id="mensaje1" class="errores">Ingresa un nombre correcto.</div>
					
					<input type="text" name="descripcion" id="descripcion" placeholder="descripcion"/> 
					<div id="mensaje2" class="errores">Debe de ingresar la descripción.</div>
					<fieldset data-role="controlgroup" data-mini="true">
        				<legend>Seleccione el contenido</legend>
        				{% for producto in productos %}
        					<input name="{{producto['id']}}" id="{{producto['id']}}" value="{{producto['id']}}" data-mini="true" type="checkbox">
    <label for="{{producto['id']}}">{{producto['nombre']}}       <img src="{{producto['url']}}" height="20%" width="20%">  ${{producto['precio']}} </label>
					   {% endfor %}
        			</fieldset>

					<input type="text" name="precio" id="precio" placeholder="Precio 0.0"/>
					<div id="mensaje3" class="errores">Ingrese el precio.</div>
				<div>
				<input type="submit" data-inline="true" value="Agregar" id="agregar" class="boton"/>
				<input type="button" data-inline="true" value="Cancelar" id="cancelar" onclick = "location='/'"/>
				</div>
			</form>
			</div>
		</article>
	
	</section>
	<script type="text/javascript">
		function irAgregarProducto(){
			location.assign("agregarProducto")
		}
	</script>
</body>
</html>